// scss-docs-end colors-map

$primary: #ee4d47;
$secondary: #fdede8;
$dark: #402b2b;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark: $dark;

// Navbar
$navbar-dark-color: #fff;

// Headings
$h1-font-size: 6.25rem;
$h2-font-size: 3rem;
$h3-font-size: 1.5rem;
$headings-font-family: "DM";

// Body
$body-bg: #fef8f5;
