footer {
  overflow: hidden;

  form {
    background-color: $white;
    color: $dark;
    border-radius: 10px;
  }
}

footer .row {
  color: $white;
  position: relative;

  &::before {
    content: "";
    background-color: #0f264c;
    position: absolute;
    left: -50%;
    top: 0;
    bottom: 0;
    right: -50%;
    z-index: -1;
    border-top-right-radius: 50px;
  }
}
