main {
  background-image: url("/images/Mask\ Group.png"),
    linear-gradient(309.51deg, #ffedba 6.67%, #ee4d47 91.82%);
  background-repeat: no-repeat;
  margin-bottom: 22rem;
}

#people {
  left: 60%;
  top: 50%;
  width: 24%;
  min-width: 100px;
  height: auto;
}

#mobel-top {
  left: 0;
  top: 100%;
  width: 40%;
  min-width: 100px;
  height: auto;
}
